


services:

  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - nutrinet

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - mongo
    ports:
      - "8000:8000"
    environment:
      MONGO_URI: "DB_URI_HERE"
      DB_NAME: "DB_NAME_HERE"
      MODEL_NAME: "MODEL_NAME_HERE"
      JWT_SECRET: "JWT_SECRET_KEY_HERE"
      GROQ_API_KEY: "YOUR_GROQ_API_KEY_HERE"
    networks:
      - nutrinet

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:5173"
    networks:
      - nutrinet

volumes:
  mongo_data:

networks:
  nutrinet:
    driver: bridge
